.projects{
background-image: url(https://www.wallpaperuse.com/wallp/47-479028_m.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
color: white;
}
.titleProjects{
text-shadow: 2px 2px var(--yellow);
font-size: 65px;
margin-bottom: 4px ;
color: white;
}
.projectsAreaComplet{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    
    margin-top:100px;
}

.areaConteiner{
    display: grid;
    height: 550px;
    color:white;
    gap: 10px;
    grid-template-areas: 
    "proyecto-1  proyecto-2 proyecto-3"
    "proyecto-1  proyecto4 proyecto-6";  
}

.projectsItems{
    position: relative;
    border-radius: 10px;
    width: 100%;
    border: 4px solid white;
    height: 100%;
    overflow: hidden;
}
.projectsImg{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
}

.projectsItems:hover{
    transform: translate(0%);
} 
.projectsItems:nth-of-type(1){
    grid-area: proyecto-1;
}
.projectsItems:nth-of-type(2){
    grid-area: proyecto-2;
}
.projectsItems:nth-of-type(3){
    grid-area: proyecto-3;
}
.projectsItems:nth-of-type(4){
    grid-area: proyecto4;
}
.projectsItems:nth-of-type(5){
    grid-area: proyecto-6;
}

.projectSubTitle{
    font-size:17px ;
}
.projectSubTitleHover{
    font-weight: 600;
    position: absolute;
    background:rgba(65, 62, 62, 0.567);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: transform .4s ease-in-out;
}

.divBotton{
    
    display: flex;
    
}
.buttonVerMas{
    margin:  auto;
    
    cursor: pointer;
    color: rgb(245, 243, 243);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: 50px;
    font-size: 19px;
    background-color: rgba(243, 121, 8, 0.986);
    border: 2px solid rgb(255, 249, 249);
    transition: .3s ease-in-out all; 
}


.buttonVerMas:hover{
    color: rgb(0, 0, 0);
    background-color: var(--yellow);
    border: 2px solid rgb(255, 249, 249);
}  

@media screen and (max-width:500px){
    .areaConteiner{
        display: grid;
        height: 500px;
        grid-template-areas: 
    "proyecto-1  proyecto-1 proyecto-2"
    "proyecto-3  proyecto4 proyecto-6";
         
    }
}