.gridItemProyect{
    border-radius: 5%;
    display: grid;
    border: 1px solid rgb(63, 62, 62);
    grid-template-rows: repeat( 1fr);
    grid-gap: 10px;
    cursor: pointer;
   
   
}
.hola{
    transition: .4s ease all !important;
    background-color:rgb(32, 32, 32);
    transition-timing-function: linear !important;
}
.hola:hover{
    
    background-position: 602px;
    
    
    -webkit-box-shadow: -7px 7px 14px -1px rgba(235,240,238,1);
    -moz-box-shadow: -7px 7px 14px -1px rgba(235,240,238,1);
    box-shadow: -7px 7px 14px -1px rgba(235,240,238,1);
}

.divGridItem{
    width: 85%;
    cursor: pointer;
    margin:auto;
   border: 1px solid rgb(56, 54, 54);
   border-radius: 10px;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}
.divImgProycto{
    width: 85%;
    margin: 0 auto;

}
.imgProyectItem{
   width: 100%;
    height: 250px;
    border-radius: 9%;
    margin-top: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
}
.tech-used {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    list-style: none;
   
}
.tech-used li {
	background-color: #fff;
	color: #000;
	font-weight: 600;
	border-radius: 5px;
	padding: 6px;
	margin-right: 0.5em;
	margin-top: 1em;
}
.tech-used li:last-child {
	margin-right: 0;
}

.tech-used::after {
	content: "";
  	flex: auto;
}
.divGridItem p{
   
    font-size: 12px;
}
.divGridItem h2{
    
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    padding: 5px;
    padding-top: 10px;
}
.divGridItem h3{
   padding-left: 10px;
    font-size: 24px;
    
}
.iconProyectFlex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
   
}
.iconProyect{
    width: 50px;
    height: 50px;
    transition: .3s ease all;
}
.iconProyect:hover{
    fill:  rgb(245, 99, 14);
    width: 50px;
    height: 50px;
}

